<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Main Menu</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">

      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/clientmanagements" >Client Management</a>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="/inventorymanagement" >Inventory Management</a>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="/usermanagement" >User Management</a>
      </p>
    </div>
  </div>
</section>
