<!-- TODO -->
<section class="col-xs-12 col-md-offset-2 col-md-8" ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <div>
      <center>
        <img class="img-responsive" src="\modules\core\client\img\brand\logo-header-horizontal-blue.png" style="width:500px;height:25%"
          alt="K9 Partners for Patriots" />
      </center>
      <p class="lead row" style="color:#f7f8f9">Client-Inventory Management System</p>
    </div>
    <div class="btn-group">
      <p>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="moveinventory">Move Items</a>
      </p>
    </div>
  </div>
</section>