<!-- TODO -->
<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        K9 Partners for Patriots Inventory Management System
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="clientmanagements.list">Client Management</a>
      </p>
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="inventorymanagements.list">Inventory Management</a>
      </p>
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="admin.users">User Management</a>
      </p>
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="moveinventory">Move Items</a>
      </p>
    </div>
  </div>
</section>
