<section>
  <div class="page-header">
    <h1>Inventory</h1>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div><br/>
    <div class="input-group" id="showdisctnu">
      <input class="form-check-input" type="checkbox" ng-model="showdisctnu" value=""/><small class="form-check-label">Show Discontinued Items</small>
    </div>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr>
            <th ng-click="vm.headSort = 'tags'">Tags</th>
            <th ng-click="vm.headSort = 'upc'">UPC</th>
            <th ng-click="vm.headSort = 'qty'">Quantity</th>
            <th ng-click="vm.headSort = 'updated'">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inventorymanagement in vm.inventorymanagements  | filter : query | orderBy : vm.headSort"  ui-sref="inventorymanagements.view({ inventorymanagementId: inventorymanagement._id})">
            <td>{{inventorymanagement.tags}}</td>
            <td>{{inventorymanagement.upc}}</td>
            <td>{{inventorymanagement.qty}}</td>
            <td ng-bind="inventorymanagement.updated | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <a class="btn btn-primary" ui-sref="inventorymanagements.create">Create Item</a>
      <a class="btn btn-primary" ui-sref="inventorymanagements.receive">Receive Inventory</a>
    </div>
  </div>
</section>
