<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section>
  <div class="page-header row">
    <h1>
      Inventory List
      <span class="pull-right">
        <a class="btn btn-primary" ui-sref="inventorymanagements.create">Create Item</a>
        <a class="btn btn-warning" ui-sref="inventorymanagements.receive">Receive Items</a>
        <a class="btn btn-primary" ui-sref="moveinventory">Move Items</a>
        <a class="btn btn-default" ui-sref="">Print</a>
      </span>
    </h1>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div><br/>
    <div style="margin-left:766px;" class="input-group" id="showdisc">
      <input class="form-check-input" type="checkbox" ng-model="checkModel"/>
      <bold class="form-check-label"> <b>Show Inactive Items</b> </bold>
    </div>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr class="sortable">
            <th ng-click="vm.changeSortTags('tags')">Tags
              <i ng-hide="!vm.reverseTags" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
              <i ng-hide="vm.reverseTags" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSortUPC('upc')">UPC
              <i ng-hide="!vm.reverseUPC" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
              <i ng-hide="vm.reverseUPC" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>  
            </th>
            <th ng-click="vm.changeSortQuantity('qty')">Quantity
              <i ng-hide="!vm.reverseQuantity" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
              <i ng-hide="vm.reverseQuantity" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>  
            </th>
            <th ng-click="vm.changeSortUpdated('updated')">Last Updated
              <i ng-hide="!vm.reverseUpdated" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
              <i ng-hide="vm.reverseUpdated" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>  
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inventorymanagement in vm.inventorymanagements  | filter : query | orderBy : vm.headSort : vm.reverse | filter : (checkModel ? '' : vm.showNoInactive)" ui-sref="inventorymanagements.view({ inventorymanagementId: inventorymanagement._id})">
            <td>{{inventorymanagement.tags}}</td>
            <td>{{inventorymanagement.upc}}</td>
            <td>{{inventorymanagement.qty}}</td>
            <td ng-bind="inventorymanagement.updated | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <img id="loader" ng-show="loading" src="/../../img/484.gif">
  </div>
</section>
