<section>
  <div class="page-header row">
    <h1>
      Inventory List
      <span class="pull-right">
        <a class="btn btn-primary" ui-sref="inventorymanagements.create">Create Item</a>
        <a class="btn btn-primary" ui-sref="inventorymanagements.receive">Receive Items</a>
        <a class="btn btn-primary" ui-sref="moveinventory">Move Items</a>
        <a class="btn btn-default" href="javascript:window.print()">Print</a>
      </span>
    </h1>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div><br/>
    <div class="input-group pull-right" id="showdisc">
      <input class="form-check-input" type="checkbox" ng-model="checkModel"/>
      <bold class="form-check-label"> <b>Show Inactive Items</b> </bold>
    </div>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr class="sortable">
            <th ng-click="vm.changeSort('tags')">Tags
              <i ng-hide="vm.hideArrow('tags', vm.C_T)" style="font-size:15px;" class="glyphicon glyphicon-chevron-up pull-right"></i>
              <i ng-hide="vm.hideArrow('tags', vm.C_F)" style="font-size:15px;" class="glyphicon glyphicon-chevron-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('upc')">UPC
              <i ng-hide="vm.hideArrow('upc', vm.C_T)" style="font-size:15px;" class="glyphicon glyphicon-chevron-up pull-right"></i>
              <i ng-hide="vm.hideArrow('upc', vm.C_F)" style="font-size:15px;" class="glyphicon glyphicon-chevron-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('qty')">Quantity
              <i ng-hide="vm.hideArrow('qty', vm.C_T)" style="font-size:15px;" class="glyphicon glyphicon-chevron-up pull-right"></i>
              <i ng-hide="vm.hideArrow('qty', vm.C_F)" style="font-size:15px;" class="glyphicon glyphicon-chevron-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('updated')">Last Updated
              <i ng-hide="vm.hideArrow('updated', vm.C_T)" style="font-size:15px;" class="glyphicon glyphicon-chevron-up pull-right"></i>
              <i ng-hide="vm.hideArrow('updated', vm.C_F)" style="font-size:15px;" class="glyphicon glyphicon-chevron-down pull-right"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inventorymanagement in vm.inventorymanagements  | filter : query | orderBy : vm.headSort : vm.reverse | filter : (checkModel ? '' : vm.showNoInactive)" ng-style="vm.inactiveRow(inventorymanagement)" ui-sref="inventorymanagements.view({ inventorymanagementId: inventorymanagement._id})">
            <td>{{inventorymanagement.tags}}</td>
            <td>{{inventorymanagement.upc}}</td>
            <td>{{inventorymanagement.qty}}</td>
            <td ng-bind="inventorymanagement.updated | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <img id="loader" ng-show="loading" src="/../../img/484.gif">
  </div>
</section>
