<section>
  <style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }

    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }

    @keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }
  </style>
  <div id="snackbar">Item received successfully</div>
  <div class="page-header">
    <center>
      <h3>Receive Inventory</h3>
    </center>
  </div>
  <center style="padding-bottom: 20px;">
    <input type="file" accept="image/*;capture=camera"></input>
  </center>
  <datalist id="Inventory">
    <option ng-repeat="inventorymanagement in vm.inventorymanagements" value="{{inventorymanagement.upc}}"></option>
  </datalist>
  <center style="padding-bottom: 5px;">
    <button class="addfields" ng-click="addNewChoice()">Add fields</button>
  </center>
  <center>
    <div ng-repeat="inventorymanagement in vm.inventorymanagements | emptyifblank: upc | filter: upc: true">
      <p>Item Tags: {{inventorymanagement.tags}}</p>
      <p>Quantity in Stock: {{inventorymanagement.qty}}</p>
      <p>Inactive: {{inventorymanagement.discontinue}}</p>
    </div>
  </center>
  <center>
    <fieldset data-ng-repeat="choice in choices" style="padding: 2px;">
      <div class="col-sm-6">
        <input type="text" list="Inventory" placeholder="UPC - Will autofill after successful scan" ng-model="choice.upc.upc" style="width: 300px;"></input>
      </div>
      <div class="col-sm-1">
        <input name="quantity" type="text" id="quantity" class="form-control" placeholder="0" ng-model="choice.quantity" style="width: 50px;"></input>
      </div>
      <div class="col-sm-1">
        <button class="remove" ng-click="removeChoice()">-</button>
      </div>
    </fieldset>
  </center>
  <center style="padding-top: 20px;">
    <a class="btn btn-primary" ui-sref="inventorymanagements.list">Cancel</a>
    <a class="btn btn-warning" ng-click="receive()">Move To Inventory</a>
  </center>
</section>
