<section>
  <div class="page-header">
    <center>
      <h3>Receive Inventory</h3>
    </center>
  </div>
  <center style="padding-bottom: 20px;">
    <input type="file" accept="image/*;capture=camera"></input>
  </center>
  <datalist id="Inventory">
    <option ng-repeat="inventorymanagement in vm.inventorymanagements" value="{{inventorymanagement.upc}}"></option>
  </datalist>
  <center>
    <div ng-repeat="inventorymanagement in vm.inventorymanagements | emptyifblank: query | filter: query: true">
      <p>Item Tags: {{inventorymanagement.tags}}</p>
      <p>Quantity in Stock: {{inventorymanagement.qty}}</p>
      <p>Inactive: {{inventorymanagement.discontinue}}</p>
    </div>
  </center>
  <center>
    <input type="text" list="Inventory" placeholder="UPC - Will autofill after successful scan" class="form-control" ng-model="query.upc" style="width: 300px;"></input>
  </center>
  <center style="padding-top: 20px;">
    <input name="quantity" type="text" id="quantity" class="form-control" placeholder="Quantity" style="width: 300px;"/>
  </center>
  <center style="padding-top: 20px;">
    <a class="btn btn-primary" ui-sref="inventorymanagements.list">Cancel</a>
    <a class="btn btn-warning">Move To Inventory</a>
  </center>
</section>
