<section>
  <div class="page-header row">
    <h1>
      {{vm.inventorymanagement.tags}}
      <small ng-class="vm.labelDisp()" ng-hide="{vm.inventorymanagement.discontinue === false}">{{vm.labelText()}}</small>
      <span class="pull-right">
        <a class="btn btn-default" ui-sref="inventorymanagements.list">Back to Inventory</a>
        <a class="btn btn-primary" ui-sref="inventorymanagements.edit({ inventorymanagementId: vm.inventorymanagement._id })">Edit</a>
        <a ng-class="vm.buttonColor()" ng-click="vm.changeStatus()">{{vm.buttonText()}}</a>
        <a class="btn btn-danger" ng-click="vm.remove()">Delete</a>
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">upc</strong>
        <p class="col-md-6" ng-bind="vm.inventorymanagement.upc"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Description</strong>
        <p class="col-md-6" ng-bind="vm.inventorymanagement.description"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Quantity</strong>
        <p class="col-md-6" ng-bind="vm.inventorymanagement.qty"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Created</strong>
        <p class="col-md-6" ng-bind="vm.inventorymanagement.created | date : 'short'"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Last Updated</strong>
        <p class="col-md-6" ng-bind="vm.inventorymanagement.updated | date : 'short'"/>
      </div>
    </div>
  </div>
</section>
