<section>
  <div class="page-header row">
    <h1>
      User List
      <span class="pull-right">
        <a class="btn btn-primary" ui-sref="user-create">Create User</a>
        <a class="btn btn-default" ui-sref="userlogs.list">User Log</a>
      </span>
    </h1>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search" ng-model="search" ng-change="figureOutItemsToDisplay()">
    </div>
    <br/>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr class="sortable">
            <th ng-click="changeSort('username')">Username
              <i ng-hide="hideArrow('username', C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
              <i ng-hide="hideArrow('username', C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
            </th>
            <th ng-click="changeSort('roles')">User Roles
              <i ng-hide="hideArrow('roles', C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
              <i ng-hide="hideArrow('roles', C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
            </th>
            <th ng-click="changeSort('email')">Email
              <i ng-hide="hideArrow('email', C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
              <i ng-hide="hideArrow('email', C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
            </th>
            <th ng-click="changeSort('updated')">Last Updated
              <i ng-hide="hideArrow('updated', C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
              <i ng-hide="hideArrow('updated', C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in pagedItems | orderBy : headSort : reverse" ui-sref="admin.user({userId: user._id})">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
            <td>{{user.email}}</td>
            <td ng-bind="user.updated | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <img id="loader" ng-show="loading" src="/../../img/484.gif">
  </div>
</section>
