<section>
  <div class="page-header row">
    <h1>
      {{user.username}}
      <span class="pull-right">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">Edit</a>
        <a class="btn btn-warning" ui-sref="password.reset.form">Forgot Password</a>
        <a class="btn btn-danger" ng-click="remove();" ng-if="user._id !== authentication.user._id">Delete</a>
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Password</strong></div>
        <div class="col-md-6" ng-bind="user.password"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created | date : 'short'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Updated</strong></div>
        <div class="col-md-6" ng-bind="user.updated | date : 'short'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <a class="btn btn-default" ui-sref="admin.users">Back to User List</a>
  </div>
</section>
