<section>
  <div class="page-header row">
    <h1>
      {{user.username}}
      <span class="pull-right">
        <a class="btn btn-default" ui-sref="admin.users">Back to User List</a>
        <a class="btn btn-primary" ng-click="editCheck(user.username, user._id)">Edit</a>
        <a class="btn btn-danger" ng-click="remove();" ng-if="user._id !== authentication.user._id">Delete</a>
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">First Name</strong>
        <p class="col-md-6" ng-bind="user.firstName"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Last Name</strong>
        <p class="col-md-6" ng-bind="user.lastName"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Email</strong>
        <p class="col-md-6" ng-bind="user.email"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Provider</strong>
        <p class="col-md-6" ng-bind="user.provider"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Created</strong>
        <p class="col-md-6" ng-bind="user.created | date : 'short'"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Updated</strong>
        <p class="col-md-6" ng-bind="user.updated | date : 'short'"/>
      </div>
      <hr/>
      <div class="row">
        <strong class="col-md-3" style="font-size: 16px">Roles</strong>
        <p class="col-md-6" ng-bind="user.roles"/>
      </div>
    </div>
  </div>
</section>
