<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section>
  <div class="page-header row">
    <h1>
      <div style="text-align:center">User Log</div>
      <span class="pull-right">
        <a class="btn btn-default" ui-sref="">Print</a>
      </span>
    </h1>
  </div>


  <div class="col-md-offset-1 col-md-11">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <br/>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr class="sortable">
            <th ng-click="vm.changeSort('username')">Username
              <i ng-hide="vm.hideArrow('username', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
              <i ng-hide="vm.hideArrow('username', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('clientName')">Client Name
              <i ng-hide="vm.hideArrow('clientName', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
              <i ng-hide="vm.hideArrow('clientName', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('direction')">Direction
              <i ng-hide="vm.hideArrow('direction', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-arrow-left pull-right"></i>
              <i ng-hide="vm.hideArrow('direction', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-arrow-right pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('itemUpc')"> Inventory Item
              <i ng-hide="vm.hideArrow('itemUpc', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
              <i ng-hide="vm.hideArrow('itemUpc', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
            </th>
            <!--<th ng-click="vm.changeSort('branch')">Branch</th>-->
            <th ng-click="vm.changeSort('qty_moved')">Quantity Moved
              <i ng-hide="vm.hideArrow('qty_moved', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
              <i ng-hide="vm.hideArrow('qty_moved', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('timestamp')">Timestamp
              <i ng-hide="vm.hideArrow('timestamp', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
              <i ng-hide="vm.hideArrow('timestamp', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="userlog in vm.userlogs  | filter : query | orderBy : vm.headSort : vm.reverse">
            <td>{{userlog.username}}</td>
            <td>{{userlog.clientName}}</td>
            <td>{{userlog.direction}}</td>
            <td>{{userlog.itemUpc}}&nbsp&nbsp{{userlog.itemTags}}</td>
            <td>{{userlog.qty_moved}}</td>
            <td ng-bind="userlog.timestamp | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
        ng-change="pageChanged()"></pagination>
      </section>
    </div>
  </div>
</section>
