<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section>
  <div class="page-header row">
    <h1>
      <div style="text-align:center">User Log</div>
      <span class="pull-right">
        <a class="btn btn-default" ui-sref="">Print</a>
      </span>
    </h1>
  </div>


  <div class="col-md-offset-1 col-md-11">
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <br/>
    <div class="tableWrapper">
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-default">
          <tr class="sortable">
            <th ng-click="vm.changeSortUsername('username')">User
            <i ng-hide="!vm.reverseUsername" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseUsername" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSortClientName('clientName')">Client Name
            <i ng-hide="!vm.reverseClientName" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseClientName" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSort('move_from_inventory')">Direction</th>
            <th ng-click="vm.changeSortItemUPC('itemUpc')">Inventory UPC
            <i ng-hide="!vm.reverseItemUPC" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseItemUPC" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSortItemTags('itemTags')">Inventory Tags
            <i ng-hide="!vm.reverseItemTags" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseItemTags" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSortQty_Moved('qty_moved')">Quantity Moved
            <i ng-hide="!vm.reverseQty_Moved" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseQty_Moved" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
            <th ng-click="vm.changeSortTimestamp('timestamp')">Timestamp
            <i ng-hide="!vm.reverseTimestamp" style="font-size:25px;" class="fa fa-arrow-circle-o-up pull-right"></i>
            <i ng-hide="vm.reverseTimestamp" style="font-size:25px;" class="fa fa-arrow-circle-o-down pull-right"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="userlog in vm.userlogs  | filter : query | orderBy : vm.headSort : vm.reverse">
            <td>{{userlog.username}}</td>
            <td>{{userlog.clientName}}</td>
            <td>{{userlog.direction}}</td>
            <td>{{userlog.itemUpc}}</td>  
            <td>{{userlog.itemTags}}</td>
            <td>{{userlog.qty_moved}}</td>
            <td ng-bind="userlog.timestamp | date : 'short'"></td>
          </tr>
        </tbody>
      </table>
      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
        ng-change="pageChanged()"></pagination>
      </section>
    </div>
  </div>
</section>
