<section>
  <div class="page-header">
    <h1>Create A New Client</h1>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <form name="vm.form.clientmanagementForm" class="form-horizontal" ng-submit="vm.save(vm.form.clientmanagementForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <div>
            <div style="margin-right:201px;">
              <label class="control-label">
                <span>Types of Clients:</span>
                <!--<span ng hide="!vm.clientmanagement.clientrolesVeteran"> Branch </span>-->
              </label>
              <br>
              <input name="foster" type="checkbox" ng-model="vm.clientmanagement.clientrolesFoster" id="foster" placeholder="foster">&nbsp;Foster&nbsp;&nbsp;
              <input name="staff" type="checkbox" ng-model="vm.clientmanagement.clientrolesStaff" id="staff" placeholder="Staff">Staff&nbsp;&nbsp;
              <input name="sponsor" type="checkbox" ng-model ="vm.clientmanagement.clientrolesSponsor" id="sponsor" placeholder="Sponsor">Sponsor&nbsp;&nbsp;
              <input name="veteran" type="checkbox" ng-model ="vm.clientmanagement.clientrolesVeteran" id="veteran" placeholder="Veteran">Veteran&nbsp;&nbsp;
              <input name="volunteer" type="checkbox" ng-model="vm.clientmanagement.clientrolesVolunteer" id="volunteer" placeholder="Volunteer">Volunteer
            </div>
            <br>
            <div style="position:absolute;width:530px;right:0;top:0;" ng-hide="!vm.clientmanagement.clientrolesVeteran">
              <label class="control-label" for="branch">Branch:</label>
              <br>
              <input type="checkbox" ng-model="vm.clientmanagement.airForce">Airforce&nbsp;&nbsp;
              
              <input type="checkbox" ng-model="vm.clientmanagement.marines">Marines&nbsp;&nbsp;
              
              <input type="checkbox" ng-model="vm.clientmanagement.navy">Navy&nbsp;&nbsp;
              
              <input type="checkbox" ng-model="vm.clientmanagement.army">Army&nbsp;&nbsp;
              
              <input type="checkbox" ng-model="vm.clientmanagement.coastGuard">Coast Guard&nbsp;&nbsp;
              
              <input type="checkbox" ng-model="vm.clientmanagement.nationalGuard">National Guard
            </div>
          </div>
          <p><font color="grey" style="margin-top: 1000px"><b>The following entires are <em>required</em> fields: Name and Email</b></font></p>
          <label class="control-label" for="name">Name:</label>
          <input name="name" type="text" ng-model="vm.clientmanagement.name" id="name" class="form-control" placeholder="Name" required>
          <label class="control-label" for="name">Phone:</label>
          <input name="phone" type="text" ng-model="vm.clientmanagement.phone" id="phone" class="form-control" placeholder="Phone">
          <label class="control-label" for="name">Email:</label>
          <input name="email" type="text" ng-model="vm.clientmanagement.email" id="email" class="form-control" placeholder="Email" required>
          <label class="control-label" for="name">Dog Name:</label>
          <input name="dogName" type="text" ng-model="vm.clientmanagement.dogName" id="dogName" class="form-control" placeholder="DogName">
          <label class="control-label" for="name">Dog ID:</label>
          <input name="dogID" type="text" ng-model="vm.clientmanagement.dogID" id="dogID" class="form-control" placeholder="DogID">
          <div ng-hide="!vm.clientmanagement.clientrolesVeteran">
            <label class="control-label" for="name">Rank:</label>
            <input name="rank" type="text" ng-model="vm.clientmanagement.rank" id="rank" class="form-control" placeholder="Rank">
          </div>
        </div>
        <div ng-messages="vm.form.clientmanagementForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">The name entry must be entered. Thank you.</p>
        </div>
        <br>
        <div class="form-group">
          <div class="form-group pull-right">
            <input type="submit" value="Create Client" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn" ui-sref="clientmanagements.list"/>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
