<!--<html>
<head>
    <title>Client Creation View</title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $window) {
            $scope.CheckPassport = function () {
                if ($scope.HasPassport) {
                    $window.alert("CheckBox is checked.");
                } else {
                    $window.alert("CheckBox is not checked.");
                }
            };
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        Do you have Passport?
        <label for="chkPassport">
            <input id="chkPassport" type="checkbox" ng-model="HasPassport" />
        </label>
        <input type="button" value = "Check Passport" ng-click = "CheckPassport()" />
    </div>
</body>

ng-model="vm.clientmanagement.clientroles"
ng-checked="all"
do clickey mouse... href="";ss
-->

<section>
  <div class="page-header">
    <h1>{{vm.clientmanagement._id ? 'Edit Client' : 'Create A New Client Below'}}</h1>
  </div> 
  <!--<label>Foster: <input name="foster" type="checkbox" ng-checked="vm.clientmanagement.clientroles" id="foster" placeholder="Foster"></label>
  <label>Staff: <input name="staff" type="checkbox" ng-checked="vm.clientmanagement.clientroles" id="staff" placeholder="Staff"></label> 
  <label>Sponsor: <input name="sponsor" type="checkbox" ng-checked="vm.clientmanagement.clientroles" id="sponsor" placeholder="Sponsor"></label>
  <label>Veteran: <input name="veteran" type="checkbox" ng-checked="vm.clientmanagement.clientroles" id="volunteer" placeholder="Veteran"></label>
  <label>Volunteer: <input name="volunteer" type="checkbox" ng-checked="vm.clientmanagement.clientroles" id="volunteer" placeholder="Volunteer"></label>
  <br>-->
  <!--<input type='checkbox' ng-init='checkStatus=false' ng-model='checkStatus' ng-click='doIfChecked(checkStatus)'>
    <ul id="date">
    <li><input id="start" name="start" size="5" type="text" class="small" value="1" /></li>
    <li><input id="end" name="end" size="5" type="text" class="small" value="2" /></li>
    </ul>
    <tt>value1 = {{checkboxModel.value1}}</tt><br/>
    <tt>value1 = {{checkboxModel.value1}}</tt><br/>
 </form>
    </body>
  <!--<label ng-repeat="role in roles">
    <input type="checkbox" checklist-model="user.roles" checklist-value="role"> {{role}}
  </label>
  <tr ng-repeat="media in allMedia">
  <div ng-repeat="mediaFromLead in mediaIdFromSpecificLead">
    <input type="checkbox" ng-checked="media.Id == mediaFromLead" />
  </div>
  </tr>-->
  
  <!--<div>
  <div>
    <div class="form-group"  ng-repeat="option in options">
      <label>{{option.name}}</label>
      <input type="checkbox" ng-model="option.value">  
    </div>
  </div>
  <hr>
  <button class="btn btn-primary" ng-click="save()">save</button> 
  </div>
  -->  
  <br>
  <p><font color="grey" style="margin-top: 1000px"><b>All entires with * are <em>required</em> fields.</b></font></p>
  <!--<a class="btn btn-warning">Foaaaaarm</a>-->
  <div class="col-md-12">
    <form name="vm.form.clientmanagementForm" class="form-horizontal" ng-submit="vm.save(vm.form.clientmanagementForm.$valid)" novalidate>       
      <fieldset>
        <!--<h2>{{vm.user._id ? 'Option1' : 'Option2']}</h2>
        <legend>Type Information Below to Create Client</legend>-->
        <div class="form-group" show-errors>
          <!--
          <ul>
            <li ng-repeat="item in possibleRoles">
              <label>
                <input type="checkbox" ng-model="item.checked">
                {{item.name}}
              </label>
            </li>
          </ul> -->
            
        <!-- ng-model="choice.checked"
             scan -- li
<ul>
 <li ng-repeat="item in choices">
  <input type="checkbox" name="skills" ng-model="item.checked" ng-click="doTheThings(item)"> {{item.Name}}
 </li>
ng-   change="validate(choice.name)"
ng-required="checkBoxArray.length==0" 
</ul>
           --> 
            
          <!--<ng-form name="myForm">
          <li ng-repeat="choice in choices">
          <input type="checkbox" name="skills" ng-checked="vm.clientanagement.clientroles" ng-click="doTheThings(choice)">
            {{choice.name}}
          </li>-->
          <!--</ng-form>-->
          
          <!--
          <form ng-app="checkboxExample" name="myForm" ng-controller="ClientManagementController">
            <label> Value1: <input type="checkbox" ng-model="vm.checkBoxModel.value1"> Foster </label> <br/>
            <label> Value2: <input type="checkbox" ng-model="checkBoxModel.value2"> Staff </label> <br/>
            <label> Value3: <input type="checkbox" ng-model="checkBoxModel.value3"> Sponsor </label> <br/>
            <label> Value4: <input type="checkbox" ng-model="checkBoxModel.value4"> Veteran </label> <br/>
            <label> Value5: <input type="checkbox" ng-model="checkBoxModel.value5"> Volunteer </label> <br/>
            <tt>value1 = {{checkBoxModel.value1}}</tt><br/>
            <tt>value2 = {{checkBoxModel.value2}}</tt><br/>
            <tt>value3 = {{checkBoxModel.value3}}</tt><br/>
            <tt>value4 = {{checkBoxModel.value4}}</tt><br/>
            <tt>value5 = {{checkBoxModel.value5}}</tt><br/>
          </form>            
            
            
          <form ng-app="checkboxExample" name="myForm" ng-controller="ClientManagementsController">
          
          <li ng-repeat="choice in checkBoxModel">
          <input type="checkbox" ng-checked="vm.clientanagement.clientroles" ng-click="doTheThings(choice)">
            {{choice}}
          </li>
          -->
            
          <label>Foster: <input name="foster" type="checkbox" ng-hide="{vm.clientmanagement.clientrolesFoster === false}" ng-model="vm.clientmanagement.clientrolesFoster" ngTrueValue="true" ngFalseValue="false" id="foster" placeholder="Foster" ng-click="vm.changeStatusFoster()"></label>
          <label>Staff: <input name="staff" type="checkbox" ng-hide="{vm.clientmanagement.clientrolesStaff === false}" ng-model="vm.clientmanagement.clientrolesStaff" ngTrueValue="true" ngFalseValue="false" id="staff" placeholder="Staff" ng-click="vm.changeStatusStaff()"></label> 
          <label>Sponsor: <input name="sponsor" type="checkbox" ng-hide="{vm.clientmanagement.clientrolesStaff === false}" ng-model="vm.clientmanagement.clientrolesSponsor" ngTrueValue="true" ngFalseValue="false" id="sponsor" placeholder="Sponsor" ng-click="vm.changeStatusSponsor()"></label>
          <label>Veteran: <input name="veteran" type="checkbox" ng-hide="{vm.clientmanagement.clientrolesStaff === false}" ng-model="vm.clientmanagement.clientrolesVeteran" ngTrueValue="true" ngFalseValue="false" id="veteran" placeholder="Veteran" ng-click="vm.changeStatusVeteran()"></label>
          <label>Volunteer: <input name="volunteer" type="checkbox" ng-hide="{vm.clientmanagement.clientrolesStaff === false}" ng-model="vm.clientmanagement.clientrolesVolunteer" ngTrueValue="true" ngFalseValue="false" id="volunteer" placeholder="Volunteer" ng-click="vm.changeStatusVolunteer()"></label>
          <br>
          <label>
          <!--alert('Test?');-->
            
          <label class="control-label" for="name">Name:</label>
          <input name="name" type="text" ng-model="vm.clientmanagement.name" id="name" class="form-control" placeholder="Name" required>
          <label class="control-label" for="name">Phone:</label>
          <input name="phone" type="text" ng-model="vm.clientmanagement.phone" id="phone" class="form-control" placeholder="Phone" required>
          <label class="control-label" for="name">Email:</label>
          <input name="email" type="text" ng-model="vm.clientmanagement.email" id="email" class="form-control" placeholder="Email" required>
          <label class="control-label" for="name">DogName:</label>
          <input name="dogName" type="text" ng-model="vm.clientmanagement.dogName" id="dogName" class="form-control" placeholder="DogName" required>
          <label class="control-label" for="name">DogID:</label>
          <input name="dogID" type="text" ng-model="vm.clientmanagement.dogID" id="dogID" class="form-control" placeholder="DogID" required>
           <!--
          <label class="control-label" for="name">ClientRoles: </label>
          <br>
          <form name="myForm" ng-controller="ClientManagementsController">
              Foster:
              <input type="checkbox" ng-checked="vm.clientmanagement.clientroles" ng-model="clientmanagements.value1">
              <br/>
              Staff:
              <input type="checkbox" ng-model="clientmanagements.value2">
              <br/>
          <br/>
                
          </form>
            -->
            
          <div ng-messages="vm.form.clientmanagementForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">The name entry must be entered. Thank you.</p>
          </div>
          <!--<div ng-messages="vm.form.clientmanagementForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">The phone entry must be entered. Thank you.</p>
          </div>
          <div ng-messages="vm.form.clientmanagementForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">The email entry must be entered. Thank you.</p>
          </div>-->
        </div>
        <div class="form-group">

          <button type="submit" class="btn btn-default" href="/client/views/view-clientmanagement.client.view.html">{{vm.clientmanagement._id ? 'Update' : 'Create'}}</button>
          <!--<button type="submit" class="btn btn-default">{{vm.clientmanagement._id ? 'Update' : 'Create'}}</button>
          <meta http=equiv="refresh" content="0"; url="http://localhost:3000" />-->

          </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
