<section>
    <div class="page-header row">
        <h1>
            Client List
            <span class="pull-right">
                <a class="btn btn-primary" ui-sref="clientmanagements.create">Create Client</a>
                <a class="btn btn-default" ui-sref="">Print</a>
            </span>
        </h1>
    </div>

    <div class="col-md-offset-1 col-md-11.5">
        <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
        <br/>
        <div class="input-group pull-right" id="showdisc">
            <input class="form-check-input" type="checkbox" ng-model="checkModel" />
          <bold class="form-check-label"> <b>Show Inactive Clients</b> </bold>
        </div>
        <div class="tableWrapper">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-default">
                    <tr class="sortable">
                        <!--<th st-sort="id" st-sort-default="reverse">ID<i st-sort="id"></i></th>
                        <th st-sort="status">Status<i st-sort="status"></i></th>-->
                        <th ng-click="vm.changeSort('name')">Name
                        <i ng-hide="vm.hideArrow('name', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('name', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                        </th>
                        <th ng-click="vm.changeSort('phone')">Phone Number
                        <i ng-hide="vm.hideArrow('phone', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('phone', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
                        </th>
                        <th ng-click="vm.changeSort('email')">Email
                        <i ng-hide="vm.hideArrow('email', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('email', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                        </th>
                        <th ng-click="vm.changeSort('dogName')">Dog Name
                        <i ng-hide="vm.hideArrow('dogName', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('dogName', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                        </th>
                        <!--<th ng-click="vm.changeSort('branch')">Branch</th>-->
                        <th ng-click="vm.changeSort('rank')">Rank
                        <i ng-hide="vm.hideArrow('rank', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('rank', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-alphabet pull-right"></i>
                        </th>
                        <th ng-click="vm.changeSort('updated')">Last Updated
                        <i ng-hide="vm.hideArrow('updated', vm.C_T)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order-alt pull-right"></i>
                        <i ng-hide="vm.hideArrow('updated', vm.C_F)" style="font-size:20px;" class="glyphicon glyphicon-sort-by-order pull-right"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="clientmanagement in vm.clientmanagements  | filter : query | orderBy : vm.headSort : vm.reverse | filter : (checkModel) ? '' : vm.showNoInactive" ng-class="vm.inactiveRow(clientmanagement)" ui-sref="clientmanagements.view({ clientmanagementId: clientmanagement._id})">
                        <td>{{clientmanagement.name}}
                        <!--
                        <div ng-hide="{vm.showNoInactive === vm.C_T}">{{vm.labelText()}}
                        <div ng-hide="{vm.clientmanagement.inactive === vm.C_T}">{{vm.labelText()}}
                        <div class="form-group" ng-hide="vm.showNoInactive">
                        <div ng-hide="vm.showNoInactive">
                        <i style="font-size:20px;" class="fa fa-arrow-circle-o-right pull-right"></i>
                        </div>
                        -->
                        </td>
                        <td>{{clientmanagement.phone}}</td>
                        <td>{{clientmanagement.email}}</td>
                        <td>{{clientmanagement.dogName}}</td>
                        <!--<td ng-bind="vm.branchText()"></td>
                        !-->
                        <td>{{clientmanagement.rank}}</td>
                        <!--<td ng-bind="vm.displayClientRoles()"></td>
                        -->
                        <td ng-bind="clientmanagement.updated | date : 'short'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img id="loader" ng-show="loading" src="/../../img/484.gif">
    </div>
  </section>
