<section ng-controller="ClientInventorymanagementsListController">
  <style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }

    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }

    @keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }
  </style>
  <datalist id="Inventory">
    <option ng-repeat="inventorymanagement in vm.inventorymanagements" value="{{inventorymanagement.upc}}"></option>
  </datalist>
  <datalist id="Clients">
    <option ng-repeat="clientmanagement in vm.clientmanagements" value="{{clientmanagement.name}} --- {{clientmanagement.email}}"></option>
  </datalist>
  <div id="snackbar">Item moved Successfully</div>
  <div class="page-header">
    <center>
      <h3>Move Inventory</h3>
    </center>
  </div>
  <form>
    <center style="padding-bottom: 20px;">
      <input type="file" accept="image/*;capture=camera"></input>
    </center>
    <!--center>
      <div ng-repeat="inventorymanagement in vm.inventorymanagements | emptyifblank: serial | filter: serial: true">
        <p>Item Tags: {{inventorymanagement.tags}}</p>
        <p>Quantity in Stock: {{inventorymanagement.qty}}</p>
        <p>Inactive: {{inventorymanagement.discontinue}}</p>
      </div>
    </center-->
    <center>
      <input type="text" list="Inventory" placeholder="UPC - Will autofill after successful scan" ng-model="serial.upc" style="width: 270px;" required></input>
      <input type="number" ng-model="qty" style="width: 50px;"></input>
    </center>
    <center style="padding-top: 20px;">
      <input type="text" list="Clients" placeholder="Client Name" ng-model="nameAndEmail" style="width: 320px;" required></input>
    </center>
    <center style="padding-top: 20px;">
      <a class="btn btn-primary" ng-click="cancelButton()">Cancel</a>
      <a type="submit" class="btn btn-warning" ng-click="moveToClient()">Move To Client</a>
      <a type="submit" class="btn btn-warning" ng-click="moveToInventory()">Move To Inventory</a>
    </center>
  </form>
</section>