<section>
    <div class="page-header row">
        <h1>
            {{vm.clientmanagement.name}}
            <small ng-class="vm.labelDisp()" ng-hide="{vm.clientmanagement.inactive === false}">{{vm.labelText()}}</small>
            <span class="pull-right">
                <a class="btn btn-primary" ui-sref="clientmanagements.edit({ clientmanagementId: vm.clientmanagement._id })">Edit</a>
                <a ng-class="vm.buttonColor()" ng-click="vm.changeStatus()">{{vm.buttonText()}}</a>
                <a class="btn btn-danger" ng-click="vm.remove()">Delete</a>
            </span>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <strong>Phone Number</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.phone"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <strong>Email</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.email"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <strong>Dog Name</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.dogName"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <strong>Dog ID</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.dogID"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <strong>Created</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.created | date : 'short'"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3">
                    <strong>Last Updated</strong>
                </div>
                <div class="col-md-6" ng-bind="vm.clientmanagement.updated | date : 'short'"></div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-default" ui-sref="clientmanagements.list">Back to List</a>
    </div>
</section>

